* {
  background-color: #3a685d;
}

.welcome {
text-align: center;
}

.picOfMe {
  width: 300px;
  height: 550px;
  margin-left: 50px;
}

.projects {
  display: flex;
  flex-direction: row;
}

.project {
  list-style: none;
  border: #0e2c24 10px solid;
  padding: 10px;
  margin: 5px;
}

.titleOfSect {
  text-align: center;
}

.imgs {
  width: 350px;
  height: 200px;
}

.aboutMeSect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.navSect {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}